*{
	transition: .3s;
	margin: 0;
	padding: 0;
}
.div1{
	display: flex;
	width: 800px;
	height: 60vh;
	margin: 0 auto 5rem 0;
	margin-top: 5rem;
	position: relative;
	border-radius: 20px;
	overflow-y: auto;
}
header{
	display: flex;
	justify-content: center;
	margin-top: 4rem;
}
.div1:hover{
	cursor: pointer;
	transform: scale(1.02);
}
.divButton{
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.divButton button{
	font-size: 2rem;
	cursor: pointer;
	padding: 20px;
	background-color: transparent;
	border: none;
	font-weight: 900;
}
.divButton button:hover{
	background-color: #fff;
	font-size: 3rem;
}
#idimage{
	width: 100%;
	height: 100%;
	border-radius: 20px;
}

